<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" lang="zh">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="致力于前端开发">
    <meta name="author" content="380863274@qq.com--lilidong">
    <title> 李立冬个人简历 -by-vue.js</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="share.js/dist/css/share.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css">
    <!--     <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script> -->
    <!--     <script type="text/javascript">
    hljs.initHighlightingOnLoad();
    </script>
    <script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1260186031'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260186031' type='text/javascript'%3E%3C/script%3E"));
    </script> -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="/cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
        <![endif]-->
</head>

<body>
    <div id="preloader" class="loading-overlay">
        <div id="loader">&nbsp;</div>
    </div>
    <div id="app" v-cloak>
        <div id="wrap">
            <div class="navbar navbar-default navbar-static-top is-active ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                            <span class="sr-only">折叠导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">
                            <img width="207" height="50" src="img/logo@2x.png">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse header-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <router-link to="/production">作品</router-link>
                            </li>
                            <li>
                                <router-link to="/skill">技能</router-link>
                            </li>
                            <li>
                                <router-link to="/work">工作</router-link>
                            </li>
                            <li>
                                <router-link to="/education">教育</router-link>
                            </li>
                            <li class="visible-xs">
                                <router-link to="/register">注册</router-link>
                            </li>
                            <li class="visible-xs">
                                <router-link to="/login">登录</router-link>
                            </li>
                        </ul>
                        <div class="navbar-right hidden-xs">
                            <router-link to="/register" class="btn btn-primary">注册</router-link>
                            <router-link to="/login" class="btn btn-primary">登录</router-link>
                        </div>
                    </div>
                </div>
                <div class="navbar-lines">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="container">
                <router-view></router-view>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="text-muted row credit">
                    <div class="col-md-5 about">
                        Copyright (c) 2016 Copyright <a target="_blank" href="http://lilidong.cn">西门互联</a> All Rights Reserved.
                        <a target="_blank" href="http://lilidong.cn"></a> by
                        <!-- <a target="_blank" href="http://github.com/Jackieli">Jackieli</a>
 -->
                        <a target="_blank" href="http://lilidong.cn" class="link link--mallki">Jackieli<span data-letters="Jackieli"></span><span data-letters="Jackieli"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles" class="poster-bg"></div>
    <template id="production">
        <div>
            <div class="row push-down">
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                    <div class="row push-down">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills">
                                <li class="active" @click="sortBy('eye')" ><a href="javascript:;">最新</a></li>
                                <li @click="sortBy('comment')"><a href="javascript:;">热门</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <form method="GET" action="search" accept-charset="UTF-8">
                        <input type="text" name="q" class="search-box form-control" placeholder="项目名称检索" value="" v-model="searchQuery">
                    </form>
                </div>
            </div>
            <div class="row trick-container">
                <div v-for="(item, index) in filteredUsers" class="trick-card col-lg-4 col-md-6 col-sm-6 col-xs-12 fadeInUp animated">
                    <div class="trick-card-inner js-goto-trick">
                        <a class="trick-card-title" v-bind:href="item.href" target="_blank">
                            {{item.productionNmae}}
                        </a>
                        <div class="trick-card-stats trick-card-by">by <a href="javascript:;">{{item.author}}</a></div>
                        <div class="trick-card-stats clearfix">
                            <div class="trick-card-timeago">发布于 {{item.day}}天前 </div>
                            <div class="trick-card-stat-block"><span class="fa fa-eye"></span> {{item.eye}}</div>
                            <div class="trick-card-stat-block text-center"><span class="fa fa-comment"></span>{{item.comment}}</div>
                            <div class="trick-card-stat-block text-right"><span class="fa fa-heart"></span>{{item.heart}}</div>
                        </div>
                        <div class="trick-card-tags clearfix">
                            <a v-for="tag in item.tags" href="javascript:;" class="tag" v-bind:title="tag">
                                {{tag}}
                              </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="pagination">
                            <li class="disabled"><span>&laquo;</span></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="?page=2">2</a></li>
                            <li><a href="?page=2" rel="next">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
         
            </div>
    </template>

    <template id="skill">
        <div class="row skill">
            <div class="three columns header-col">
                <h2><span>Skills</span></h2>
            </div>
            <div class="nine columns main-col">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
                <div class="bars">
                    <ul class="skills">
                        <li><span class="bar-expand photoshop wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></span><em>Photoshop</em></li>
                        <li><span class="bar-expand illustrator wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></span><em>Illustrator</em></li>
                        <li><span class="bar-expand wordpress wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></span><em>Wordpress</em></li>
                        <li><span class="bar-expand css wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></span><em>CSS</em></li>
                        <li><span class="bar-expand html5 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></span><em>HTML5</em></li>
                        <li><span class="bar-expand jquery wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></span><em>jQuery</em></li>
                    </ul>
                </div>
                <!-- end skill-bars -->
            </div>
            <!-- main-col end -->
        </div>
    </template>
    <template id="work">
        <p>work</p>
    </template>
    <template id="education">
        <div class="row education">
            <div class="three columns header-col">
                <h2><span>Education</span></h2>
            </div>
            <div class="nine columns main-col">
                <div class="education-timeline">
                    <ul class="timeline wow fadeInUp animated">
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">January 2008 - December 2012</p>
                                <h3>University of Engineering</h3>
                                <h4>Bachelor of Science</h4>
                                <p><strong>Computer Science &amp; Engineering</strong>
                                    <br> Completed graduation from University of Engineering with the major of Computer Science &amp; Engineering. Achieved the Dean Award for extra-ordinary result.</p>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">January 2006 - December 2008</p>
                                <h3>College of Awesomeness</h3>
                                <h4>A Level</h4>
                                <p><strong>Grade A++</strong>
                                    <br> Completed A Level from College of Awesomeness with and finished A Level with A++. Achieved the Principal Award for extra-ordinary result.</p>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">January 2000 - December 2006</p>
                                <h3>School of Amusement</h3>
                                <h4>O Level</h4>
                                <p><strong>Grade A++</strong>
                                    <br> Completed O Level from College of Amusement with and finished O Level with A++. Achieved the Principal Award for extra-ordinary result.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Education Timeline End -->
            </div>
            <!-- main-col end -->
        </div>
    </template>
    <template id="register">
        <p>register</p>
    </template>
    <template id="login">
     <div >
           <input v-model="searchQuery">

      <ul>
        <li v-for="user in filteredUsers" >
          {{ user.name }}
          
        </li>
      </ul>
     </div>
    </template>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/particles.min.js"></script>
    <script src="js/vendor/jquery.nicescroll.js"></script>
    <script src="js/vendor/main.js"></script>
    <script src="js/vendor/vue2.0.3.js"></script>
    <script src="js/vendor/vue-router2.0.0.js"></script>
    <script src="js/vendor/vue-main.js"></script>
</body>

</html>
